<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script>

       let selectorCategoria = document.getElementById("selector-categoria")

       let palabraBuscar = document.getElementById("palabra-buscar")



       function buscarLogeado() {

              // console.log('si') 

              let id = selectorCategoria.value

              let palabra = palabraBuscar.value

              document.location.href = '../../public/productos_usuario_muestra.php?id=' + id + '&palabra=' + palabra

       }



       function buscarNoLogeado() {

              // console.log('no') 

              let id = selectorCategoria.value

              let palabra = palabraBuscar.value

              document.location.href = '../../public/productos_visitante_muestra.php?id=' + id + '&palabra=' + palabra

       }

</script>